[submodule "u-boot-xlnx"]
	path = u-boot-xlnx
	url = https://github.com/analogdevicesinc/u-boot-xlnx.git
	branch = pluto
[submodule "buildroot"]
	path = buildroot
	url = ../plutosdr-buildroot.git
[submodule "linux"]
	path = linux
	url = ../plutosdr-linux.git
	branch = 2018_R1
[submodule "hdl"]
	path = hdl
	url = ../plutosdr-hdl
	branch = hdl_2018_r1
[submodule "hdl-quantulum"]
	path = hdl-quantulum
	url = ../plutosdr-hdl-quantulum
